@model LeagueOfInfo.Models.Champion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Champion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChampionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChampionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryAttribute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryAttribute)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ChampionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
